---
import BaseLayout from "../layouts/BaseLayout.astro";
import FeaturedArticle from "../components/FeaturedArticle.astro";
import NewArticles from "../components/NewArticles.astro";
import PopularArticles from "../components/PopularArticles.astro";
import { getCollection } from "astro:content";

const articles = await getCollection('articles')

const featuredArticle = articles.find((article) => article.data.isFeatured)?.data
if (!featuredArticle) throw new Error('No featured article found')

const newArticles = articles
  .sort((a, b) => b.data.createdAt < a.data.createdAt ? -1 : 1)
  .slice(0, 3)
  .map(({data}) => data)

const popularArticles = articles
  .filter((article) => article.data.popularityRank)
  .sort((a, b) => Number(a.data.popularityRank) - Number(b.data.popularityRank))
  .map(({data}) => data)
---

<BaseLayout>
  <main>
    <div class='three-cols'>
      <FeaturedArticle article={featuredArticle} />
      <NewArticles articles={newArticles} />
    </div>

    <PopularArticles articles={popularArticles} />
  </main>
</BaseLayout>

<style>
  main {
    padding-inline: var(--gutter);
  }
</style>
